::-webkit-scrollbar {
  display: none;
}
body {
  background-color: blanchedalmond;
  text-align: center;
}
.s1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
}
.s2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
}
#display,
#display2 {
  color: darkblue;
  font-size: 2vw;
}
h4 {
  display: inline;
}
input {
  width: 10vw;
}
#sp1,
#ep1,
#sp2,
#ep2,
#k,
button,
h1 {
  text-align: center;
  margin: 1vw 0;
}
h1 {
  font-size: 5vw;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (orientation: portrait) {
  h1 {
    font-size: 4vw;
  }
  #display,
  #display2,
  input,
  h4 {
    font-size: 3vw;
  }
}
